body{
  background-color: #25064c;;
  color: #fff;
}

ul{
  list-style: circle;
}

ul.skills li{
  display: inline-block;
}

h1, h3, h5, address{
  text-align: center;
}

/*a.portfolio{
}
*/
a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
}

section{
  margin: 20px;
  border: 20px;
  padding: 5px;
}

