body {
  background-color: #ffffff;
  color: #ffffff;
}

li {
  list-style-type: none;
}

img {
  float: right;

}

label {
  color: #000000;
  left: 20px;
}

h4 {
  color: #000000;
  text-align: center;
}

.thumbnail {
  height: 30;
  width: 20;
  padding: 0;
  clear: both;
}

.promo {
  text-align: center;
  color: #00aaff;
 
}

.nav a {
    color: #00aaff;
    font-size: 12px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  height: 600px;
  background-image: url('http://www.hiltonhawaiianvillage.com/assets/img/discover/oahu-island-activities/HHV_Oahu-island-activities_Content_Beaches_455x248_x2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.jumbotron p {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    margin-left: 30px;
}

.jumbotron h1 {
    color: #000000;
    font-size: 50;
    font-weight: bold;
    font-family: 'shift', 'sans-serif';
    position: relative;
    top: 120px;
    left: 40px;
    text-align: center;
}

.jumbotron .container {
    position: relative;
    top: 120px;
}

.more {
    background-color: #000000;
    bottom: 10px;
}

.more h3 {
    font-family: 'shift', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.more a {
    color: #00aaff;
}

.locations {
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
}

.locations h2 {
    color: #393c3d;
    font-size: 20px;
    text-align: center;
}

.locations p {
    font-size:14px;
    margin-bottom: 14px;
}

.footer li {
  display: inline;
  font-size: 16px;
  letter-spacing: .5px;
  text-align: center;
}

.footer li a {
  color: #00aaff;
  text-align: center;
}

.bottom {
  color: #000000;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  .make-row();
}
.content-main {
  .make-lg-column(8);
}
.content-secondary {
  .make-lg-column(3);
  .make-lg-column-offset(1);
}

.social {
    margin: 10;
    padding: 0;

}

.social ul {
    margin: 0;
    padding: 25px;
}

.social ul li {
    margin: 10px;
    list-style: none outside none;
    display: inline-block;
}
@-ms-viewport{
  width: device-width;
}

/* Portrait iPhone 6 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  
    body {
    width: 400px;
    font-size: 16px;
  }
}

/* Landscape iPhone 6*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
 
    body {
    width: 600px;
    font-size: 16px;
  }
}

/* iPad */
@media only screen and (min-width: 768px) 
and (max-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
  
  body {
    width: 600px;
    font-size: 16px;
  }
}

/* Non-Retina Screens */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  
  body {
    width: 1220px;
    font-size: 16px;
  }
}

/*  Retina Screens  */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  
  body {
    width: 1320px;
    font-size: 16px;
  }
}

